# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Oliver Killane's Files\A - Computer Science Degree\COMP40009 - Programming\Java\Java Lexis Test Revision\PSTS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
